header h2 {
    text-align: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
}

.main-menu ul {
    display: flex;
    justify-content: space-around;
}

.main-menu ul li {
    list-style-type: none;
}

.main-menu ul li a {
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}

.hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 464px;
    background-image: url("../img/img for desktop/Hotel-12.png");
    background-position: center;
}

.hotel h4 {
    width: 99px;
    height: 23px;
    margin-top: 50px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #FF7931;
    color: #fff;
}

.hotel h1 {
    width: 752px;
    height: 80px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.top-nav {
    position: relative;
}

.top-nav button {
    color: white;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    margin-left: 20px;
}

.previous-page {
    position: absolute;
    left: -350px;
}

.top-nav button:first-child::after {
    content: "<";
    margin-left: 150px;
    font-size: 32px;
}

.top-nav button:last-child::before {
    content: ">";
    margin-right: 180px;
    font-size: 32px;
}

.next-page {
    position: absolute;
    right: -350px;
}


.hotel p {
    width: 456px;
    height: 64px;
    margin: 30px 16px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    text-align: center;
    color: #fff;
}
 main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
 }

.left-side {
    width: 68%;
    display: flex;
    flex-direction: column;
}

.news h3 {
    margin-left: 34px;
}
.news-preview {
    margin-left: 34px;
    height: 334px;
    display: flex;
    justify-content: flex-start;
}

.main-news {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 470px;
    height: 334px;

    margin-right: 20px;

    background-image: url("../img/img for desktop/1344287851_w640_h640_33_107.png");
    background-position: center;
}

.main-news h4 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

.main-news p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin-top: 5px;
    text-align: center;
}

.secondary-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    height: 334px;
}

.secondary-news article {
    display: flex;
    justify-content: space-between;
}

.decoration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 132px;
}

.decoration h5 {
    margin: 0 0 5px 0;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;

}

.decoration h5 a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.secondary-news article:nth-of-type(2) h5 a{
    color: #FF7931;
}

.decoration p {
    margin: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
}

.review-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 34px;
}

.review h3 {
    margin-left: 34px;
}

.review-preview article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 370px;
    height: 303px;
    margin-bottom: 40px;
}

.review-preview article h3 {
    margin-left: 0px;
    margin-top: 5px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 31px;
}

.review-preview article p {
    margin-top: -10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.review-preview article:nth-of-type(2) h3 {
    color: #FF7931;
}

.right-side {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.balloons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 370px;
    height: 469px;
    overflow: hidden;
    background-image: url("../img/img for desktop/drew-colins-1114440-unsplash.png");
}

.balloons h2 {
    width: 235px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.balloons button {
    width: 170px;
    height: 47px;
    color: white;
    background-color: #FF7931;
    border: none;
    margin-bottom: 30px;
}

.photo-session {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 469px;
    overflow: hidden;
    background-image: url("../img/img for desktop/jeremy-bishop-1114290-unsplash.png");
}

.photo-session h2 {
    width: 252px;
    height: 97px;
    color: white;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.photo-session button {
    margin-bottom: 30px;
    width: 170px;
    height: 47px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FF7931;
}

.bird-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 469px;
    overflow: hidden;
    background-image: url("../img/img for desktop/bogdan-pasca-1114196-unsplash.png");
}

.bird-show h2 {
    width: 196px;
    height: 90px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.bird-show button {
    width: 170px;
    height: 47px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FF7931;
    margin-bottom: 20px;
}

.bottom-nav {
    margin-left: 180px;
    margin-top: 45px;

}

.bottom-nav button {
    border: none;
    background-color: white;
    font-size: 18px;
    margin-left: 20px;
    opacity: 0.4;
}

.bottom-nav button:nth-of-type(2) {
    color: black;
    opacity: 1;
    transform: scale(1.5);
    text-decoration-color: #FF7931;
    border-bottom: 2px solid #FF7931
}

.bottom-nav .next-page::after {
    min-width: 20px;
    min-height: 20px;
    padding: 10px 20px;
    content: ">";
    border-left: 3px solid rgba(0, 0, 0, 0.4);
}

.bottom-nav button:nth-of-type(1)::before {
    min-width: 20px;
    min-height: 20px;
    padding: 10px 20px;
    content: "<";
    border-right: 3px solid rgba(0, 0, 0, 0.4);
}

.ballet {
    width: 766px;
    height: 170px;
    margin-top: 67px;

    margin-left: 34px;
    overflow:hidden;
    background-image: url("../img/img for desktop/david-hofmann-588877-unsplash.png");
}

.ballet h2 {
    color: white;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.ballet button {
    width: 170px;
    height: 47px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FF7931;
    margin-left: 60px;

}

.bottom-side {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 34px;
    width: 100%;
}
.how-todo-all {
    height: 150px;
    width: 288px;
    overflow:hidden;
    background-image: url("../img/floris-jan-roelof-huiskamp-1114976-unsplash.png");
}

.how-todo-all h2 {
    color: white;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.how-todo-all button {
    width: 120px;
    height: 37px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #FFF;
    margin-left: 85px;
}

.bottom-side input {
    height: 130px;
    width: 258px;
    margin-top: 10px;
    margin-right: 10px;
}

.bottom-side button:first-child {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    left: -10px;

    border: none;
    box-shadow: -4px 0px 11px 1px rgba(0, 0, 0, .6);
}

.bottom-side button:nth-of-type(2) {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    right: -5px;
    border: none;
    box-shadow: 4px 0px 11px 1px rgba(0, 0, 0, .6);
}

footer {
    background-color: #F7F7F7;
}

footer h2 {
    padding-top: 20px;
    text-align: center;
}

footer h2 a {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;

    letter-spacing: 1px;
    color: black;
    text-decoration: none;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

footer p {
    font-family: Avenir Next;
    font-size: 10px;
    line-height: 15px;
    text-align: right;

    color: #000000;

    opacity: 0.2;
}







@media screen and (min-width: 1280px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-menu {
        display: none;
    }

    .hotel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 464px;
        background-image: url("../img/img for desktop/Hotel-12.png");
        background-position: center;
    }

    .hotel h4 {
        margin-top: 5%;
        margin-left: :45%;

        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: 5px solid #FF7931;
        background-color: #FF7931;
        color: #fff;
    }

    .hotel h1 {
        font-family: Raleway;
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 85px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
    }

    .top-nav {
        display: none;
    }

    .hotel p {

        margin-left: 10%;
        margin-right: 10%;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;

        text-align: center;
        color: #fff;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news h3 {
        align-self: flex-start;
        margin-left: 2%;
    }

    .news-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .main-news {
        height: 334px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-image: url("../img/img for desktop/1344287851_w640_h640_33_107.png");
        background-position: center;
    }

    .main-news h4 {
        margin-left: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    }

    .main-news p {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 10%;
        text-align: center;
    }

    .secondary-news {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .secondary-news article {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    .decoration {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 3%;
    }

    .decoration h5 {
        margin: 0 0 5px 0;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 19px;

    }

    .decoration h5 a {
        color: black;
        text-decoration: none;
        list-style-type: none;
    }

    .secondary-news article:nth-of-type(2) h5 a{
        color: #FF7931;
    }

    .decoration p {
        margin: 0px;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 150%;
    }
    .review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .review-preview {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
    }

    .review h3 {
        align-self: flex-start;
        margin-left: 1%;
    }

    .review-preview article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 5%;
    }

    .review-preview article h3 {
        margin-top: 4%;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 31px;
    }

    .review-preview article p {
        margin-top: 0px;
        margin-left: 2%;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    }

    .review-preview article:nth-of-type(2) h3 {
        color: #FF7931;
    }

    .bottom-nav {
        display: flex;
        justify-content: center;
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    .bottom-nav button {
        border: none;
        background-color: white;
        font-size: 18px;
        margin-left: 20px;
        opacity: 0.4;
    }

    .bottom-nav button:nth-of-type(2) {
        border: 1px solid #FF7931;
        color: #FF7931;
        opacity: 0.8;
        transform: scale(1.3);
    }

    .bottom-nav button:nth-of-type(4),
    .bottom-nav button:nth-of-type(5),
    .bottom-nav button:nth-of-type(6) {
        display: none;
    }

    .bottom-nav .next-page::after {
        min-width: 20px;
        min-height: 20px;
        padding: 10px 20px;
        content: ">";
        border-left: 3px solid rgba(0, 0, 0, 0.4);
    }

    .bottom-nav button:nth-of-type(1)::before {
        min-width: 20px;
        min-height: 20px;
        padding: 10px 20px;
        content: "<";
        border-right: 3px solid rgba(0, 0, 0, 0.4);
    }

    .ballet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        width: 100%;
        height: 180px;
        overflow:hidden;
        background-image: url("../img/img for desktop/david-hofmann-588877-unsplash.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .ballet h2 {
        color: white;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
        text-transform: uppercase;
        
    }

    .ballet button {
        width: 170px;
        height: 47px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #FF7931;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .balloons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 4%;
        height: 469px;
        width: 288px;
        overflow: hidden;
        background-image: url("../img/img for desktop/drew-colins-1114440-unsplash.png");
    }

    .balloons h2 {
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 2px;
        text-transform: uppercase;
        height: 310px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .balloons button {
        width: 170px;
        height: 47px;
        color: white;
        background-color: #FF7931;
        border: none;
        margin-bottom: 5%;
    }

    .photo-session {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 4%;
        height: 469px;
        width: 288px;
        overflow: hidden;
        background-image: url("../img/img for desktop/jeremy-bishop-1114290-unsplash.png");
        background-position: center;
    }

    .photo-session h2 {
        color: white;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 33px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-left: 5%;
        margin-right: 5%;
    }

    .photo-session button {
        margin-bottom: 30px;
        width: 170px;
        height: 47px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #FF7931;
    }

    .bird-show {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 4%;
        height: 469px;
        width: 288px;
        overflow: hidden;
        background-image: url("../img/img for desktop/bogdan-pasca-1114196-unsplash.png");
    }

    .bird-show h2 {
        
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 150%;
        color: #fff;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bird-show button {
        width: 170px;
        height: 47px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #FF7931;
        margin-bottom: 20px;
    }

    .how-todo-all {
        height: 150px;
        width: 288px;
        overflow:hidden;
        background-image: url("../img/floris-jan-roelof-huiskamp-1114976-unsplash.png");
    }

    .how-todo-all h2 {
        color: white;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-top: 30px;
    }

    .how-todo-all button {
        width: 120px;
        height: 37px;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border: 1px solid #FFF;
        margin-left: 85px;
    }

    .bottom-side  input {
        display: none;
    }

    footer {
        display: none;
    }
}






/*body {
    position: relative;
    left: 35%;
    width: 320px;
}

header h2 {
    width: 146px;
    height: 72px;
    margin-left: 87px;
    margin-top: 40px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;

    line-height: 33px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
}

.main-menu {
    display: none;
}

.hotel {
    position: relative;
    padding-top: 10px;
    height: 360px;
    background-image: url("../img/Hotel-11.png");
}

.hotel h4 {
    width: 99px;
    height: 23px;
    margin-top: 25px;
    margin-left: 110px;
    padding-top: 4px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #FF7931;
    color: #fff;
}

.hotel h1 {
    width: 288px;
    height: 80px;
    margin-left: 16px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 150%;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.top-nav {
    display: none;
}

.hotel p {
    width: 288px;
    height: 125px;
    margin: 30px 16px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    text-align: center;
    color: #fff;
}

.hotel p::after {
    content: ""
}

.news h3 {
    margin-left: 16px;
    margin-top: 40px;

    font-family: SF UI Display;
    font-size: 17px;
    line-height: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;
}

.news-preview {
    margin-left: 16px;
    width: 288px;
    height: 334px;
}

.main-news {
    width: 288px;
    height: 334px;
    margin-bottom: 20px;
    background-image: url("../img/1344287851_w640_h640_33_107.png");
}

.main-news h4 {
    width: 233px;
    height: 54px;
    padding: 162px 15px 0 15px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
}

.main-news p {
    width: 258px;
    height: 83px;
    margin: 15px 15px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.secondary-news article img {
    float: left;
    width: 127px;
    margin-right: 20px;
    margin-top: 10px;
}

.secondary-news article h5 {
    padding-top: 10px;
    margin-top: 1px;
    margin-bottom: 2px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;

}

.secondary-news article p {
    height: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;

}

.secondary-news article:last-child h5 {
    margin-top: 45px;
}

.review {
    width: 288px;
    position: relative;
    margin-top: 360px;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
}

.review-preview article h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
}

.review-preview article p {
    margin-bottom: 40px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.review-preview article:nth-of-type(2) h3 {
    color: #FF7931;
}

.bottom-nav {
    margin-left: 70px;
}

.bottom-nav button {
    border: none;
    background-color: white;
    font-size: 18px;
}

.bottom-nav button:nth-of-type(2) {
    border: 1px solid #FF7931;
    color: #FF7931;
}

.bottom-nav button:nth-of-type(5),
.bottom-nav button:nth-of-type(6) {
    display: none;
}

.bottom-nav .next-page::after {
    content: ">";
}

.bottom-nav button:nth-of-type(1)::before {
    content: "<"
}

.ballet {
    height: 150px;
    width: 288px;
    margin: 10px 0;
    overflow:hidden;
    background-image: url("../img/david-hofmann-588877-unsplash.png");
}

.ballet h2 {
    color: white;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.ballet button {
    width: 170px;
    height: 47px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FF7931;
    margin-left: 60px;

}

.how-todo-all {
    height: 150px;
    width: 288px;
    margin: 10px 0;
    overflow:hidden;
    background-image: url("../img/floris-jan-roelof-huiskamp-1114976-unsplash.png");
}

.how-todo-all h2 {
    color: white;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.how-todo-all button {
    width: 120px;
    height: 37px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FFF;
    margin-left: 85px;
}

.balloons {
    height: 310px;
    width: 288px;
    margin: 10px 0;
    overflow:hidden;
    background-image: url("../img/drew-colins-1114440-unsplash.png");
}

.balloons h2 {
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.balloons button {
    width: 170px;
    height: 47px;
    color: white;
    background-color: #FF7931;
    border: none;
    margin-left: 60px;
    margin-top: 125px;
}

.photo-session {
    height: 310px;
    width: 288px;
    margin: 10px 0;
    overflow:hidden;
    background-image: url("../img/jeremy-bishop-1114290-unsplash.png");
}

.photo-session h2 {
    color: white;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.photo-session button {
    width: 170px;
    height: 47px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FF7931;
    margin-left: 60px;
    margin-top: 125px;
}

.bird-show {
    height: 310px;
    width: 288px;
    margin: 10px 0;
    overflow:hidden;
    background-image: url("../img/bogdan-pasca-1114196-unsplash.png");
}

.bird-show h2 {
    color: white;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.bird-show button {
    width: 170px;
    height: 47px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FF7931;
    margin-left: 60px;
    margin-top: 125px;
}

.how-todo-all {
    height: 135px;
    width: 256px;
    margin: 10px 16px;
    overflow:hidden;
    background-image: url("../img/floris-jan-roelof-huiskamp-1114976-unsplash.png");
}

.how-todo-all h2 {
    color: white;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 35px;
}

.how-todo-all button {
    width: 120px;
    height: 37px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FFF;
    margin-left: 65px;
}

.bottom-side input {
    display: none;
}

.bottom-side button:first-child {
    display: none;
}

footer {
    display: none;
}
*/



.toggle {
    font-weight: 600;
    color: #999;
    background: red;
}
