table {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

tr:nth-of-type(2n + 1) {
    background-color: #ededed;
}

th {
    background-color: #cdcdcd;
    border: 1px solid black;
    text-align: left;
    padding: 10px 5px;

}

td {
    border: 1px solid black;
    text-align: left;
    padding: 10px 5px;
    padding-right: 20px;
}

tr td:nth-of-type(6){
    text-align: center;
}

.options {

    display: flex;

}

.find {
    width: 50%;
    margin-right: 0;
}
