.switch-area {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #cccccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
