.options {

    display: flex;

}

.find {
    width: 50%;
    margin-right: 0;
}

form button {
    height: 100%;
}

.options button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 2%;
    font-size: 15px;
}

img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.pagination {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.pagination > div {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    display: none;

}

.pagination > div:first-child {
    display: inline;
}

.pagination > div:last-child {
    display: inline;
}

.pagination > div[value=true],
.pagination > div[data-content=true],
.pagination > div[value=true]+div {
    display: inline;

}

.pagination .active-item {
    background-color: Crimson;
    color: white;
    border: 1px solid black;
    display: inline;
}

.pagination .visible-items {
    display: inline;
}