#modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-2 {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top:20%;
    left:30%;
}

.modal > span:first-child {
    position: absolute;
    cursor: pointer;
}

button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
}